/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfefd;
}

/* Styles pour le header */
header {
    background-image: url('../img/interieur2.jpg'); /* Assurez-vous de fournir le bon chemin vers l'image */
    background-size: cover; /* Pour s'assurer que l'image couvre tout le header */
    background-position: center; /* Pour centrer l'image */
    color: white;
    padding: 5em 1em;
    text-align: center;
    position: relative;
}

header .image-container {
    position: absolute;
    top: 75%;
    left: 50px;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 100px;
    height: auto;
    border: 1px solid black;
}

/* Media queries pour différentes tailles d'écran */

/* Écrans moyens (jusqu'à 1200px) */
@media (max-width: 1200px) {
    header {                          
        padding: 3em 1em; /* Réduction du padding pour les écrans moyens */
    }
}
    
/* Écrans petits (jusqu'à 768px) */
@media (max-width: 768px) {
    header {
        padding: 1em 1em; /* Réduction supplémentaire du padding */
    }
    
    header .image-container img {
        max-width: 47px; /* Réduction de la taille de l'image */
    }
    
    .content-row {
        flex-direction: column; /* Les éléments se disposent en colonne sur petits écrans */
    }
    
    .map-container iframe {
        height: 200%; /* Ajustement de la taille de la carte */
    }
}
    
    /* Écrans très petits (jusqu'à 480px) */
@media (max-width: 480px) {
    header {
        padding: 1em 1em; /* Réduction supplémentaire du padding */
    }
    
    header h1 {
        font-size: 1.2em; /* Taille plus petite du titre */
    }
       
    header .image-container img {
        max-width: 30px; /* Taille plus petite de l'image */
    }
    
    .map-container iframe {
        height: 150px; /* Ajustement de la hauteur de l'iframe */
    }
    
    .social-media-icons a {
        font-size: 1.5em; /* Taille des icônes réduite */
    }
}

/* Styles pour la navigation */
nav ul {
    background-color: #16567a;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centre les éléments */
    /*width: 100%; /* Prend toute la largeur disponible */
    box-sizing: border-box; /* Gère les marges et padding */
}

nav ul li {
    margin: 0;
    padding: 0;
    /*float: left;*/
    /*position: relative; */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Menu déroulant */
nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

nav ul .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /*padding: 14px 16px; */
    text-decoration: none;
}

/* Navigation responsive */

/* Petits écrans (jusqu'à 768px) */
@media (max-width: 768px) {
    nav ul {
        justify-content: space-around; /* Répartit les éléments avec un espace égal */
    }

    nav ul li a {
        font-size: 16px; /* Taille du texte légèrement réduite */
    }
}

/* Très petits écrans (jusqu'à 480px) */
@media (max-width: 480px) {
    nav ul {
        justify-content: space-between; /* Gère l'espacement pour les très petits écrans */
    }

    nav ul li a {
        padding: 8px 5px; /* Espacement réduit */
        font-size: 12px; /* Réduction de la taille du texte */
    }
}

/* Styles du main */
main {
    padding: 1em;
}

/* Styles du footer */
footer {
    background-color: #16567a;
    color: white;
    text-align: center;
    padding: 0.2em;
    width: 100%;
    bottom: 0;
}

/* Conteneur avec marges centrées */
.margin-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px;
}

/* Icônes des réseaux sociaux */
.social-media-icons {
    text-align: center;
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 2em;
}

.social-icon.facebook {
    color: #2f4779; /* Facebook blue */
}

.social-icon.instagram {
    color: #E1306C; /* Instagram pink */
}

.social-icon.facebook:hover {
    color: #213153;
}

.social-icon.instagram:hover {
    color: #C13584;
}

/* Conteneur pour les images */
.image-container {
    text-align: center;
}

.image {
    max-width: 25%;
    height: auto;
    border: 2px solid black;
    border-radius: 8px;
}

/* Styles pour les textes */
.text-block, .text-block2 {
    max-width: 600px;
    padding: 10px;
    background-color: #e1e1da;
    border: 1px solid #e1e1da;
    border-radius: 8px;
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.content-row > div {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

/* Miniature */
.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail-caption, .thumbnail-caption2 {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Ajustement de la navigation pour les petits écrans */
@media (max-width: 768px) {
    /* Positionnement du menu hamburger dans la barre de navigation */
    .nav-toggle {
        display: block;
        position: absolute;
        top: 1px;
        left: 15px; /* Positionne l'icône à gauche */
        cursor: pointer;
        z-index: 1000; /* S'assure que le bouton est au-dessus du contenu */
    }

/* Icône hamburger en blanc */
    .nav-toggle span {
                        
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white; /* Icône en blanc */
    }

/* Positionnement de la navigation en pleine largeur */
    nav {
        display: flex;
        justify-content: center; /* Centre les éléments de navigation */
        align-items: center;
        position: relative;
        background-color: #16567a;
        padding: 15px 0;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: none; /* Cache le menu par défaut sur mobile */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Positionne le menu en dessous de la barre de navigation */
        left: 0;
        width: 100%;
        background-color: #16567a;
    }

    nav ul.active {
        display: flex; /* Affiche le menu quand l'icône est cliquée */
    }

    nav ul li a {
        display: block;
        color: white;
        text-align: left;
        text-decoration: none;
    } 
}


/* Ajustement de la navigation pour les petits écrans */
@media (max-width: 480px) {
    /* Positionnement du menu hamburger dans la barre de navigation */
    .nav-toggle {
        display: block;
        position: absolute;
        top: 1px;
        left: 15px; /* Positionne l'icône à gauche */
        cursor: pointer;
        z-index: 1000; /* S'assure que le bouton est au-dessus du contenu */
    }

/* Icône hamburger en blanc */
    .nav-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white; /* Icône en blanc */
    }

/* Positionnement de la navigation en pleine largeur */
    nav {
        display: flex;
        justify-content: center; /* Centre les éléments de navigation */
        align-items: center;
        position: relative;
        background-color: #16567a;
        padding: 15px 0;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: none; /* Cache le menu par défaut sur mobile */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Positionne le menu en dessous de la barre de navigation */
        left: 0;
        width: 100%;
        background-color: #16567a;
    }

    nav ul.active {
        display: flex; /* Affiche le menu quand l'icône est cliquée */
    }

    nav ul li a {                                             
        display: block;
        color: white;
        text-align: left;
        text-decoration: none;
    } 
}   