/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

/* Styles du header */
header {
    background-image: url('../img/interieur2.jpg'); /* Assurez-vous de fournir le bon chemin vers l'image */
    background-size: cover; /* L'image couvre tout le header */
    background-position: center; /* Centre l'image dans le header */
    color: white;
    padding: 5em 1em; /* Grand padding pour les grands écrans */
    text-align: center;
    position: relative;
}

/* Image dans le header */
header .image-container {
    position: absolute;
    left: 7%;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 75px; /* Taille par défaut de l'image */
    height: auto;
    border: 1px solid black;
}

/* Media queries pour différentes tailles d'écran */

    /* Écrans moyens (jusqu'à 1200px) */
@media (max-width: 1200px) {
    header {
        padding: 3em 1em; /* Réduction du padding pour les écrans moyens */
    }

}

    /* Écrans petits (jusqu'à 768px) */
@media (max-width: 768px) {
    header {
        padding: 1em 1em; /* Réduction supplémentaire du padding */
    }

    header .image-container {
        /*top: 40%; /* Positionnement de l'image pour les petits écrans */
        left: 5%;
        transform: translateY(-50%);
    }

    header .image-container img {
        max-width: 47px; /* Réduction de la taille de l'image */
    }

    .content-row {
        flex-direction: column; /* Les éléments se disposent en colonne sur petits écrans */
    }

    .map-container iframe {
        height: 200%; /* Ajustement de la taille de la carte */
    }
}

/* Écrans très petits (jusqu'à 480px) */
@media (max-width: 480px) {
    header {
        padding: 1em 1em; /* Réduction supplémentaire du padding */
    }

    header h1 {
        font-size: 1.2em; /* Taille plus petite du titre */
    }

    header .image-container {
        top: 75%;
        left: 10%; /* Réajustement de la position de l'image */
    }

    header .image-container img {
        max-width: 30px; /* Taille plus petite de l'image */
    }

    .map-container iframe {
        height: 150px; /* Ajustement de la hauteur de l'iframe */
    }

    .social-media-icons a {
        font-size: 1.5em; /* Taille des icônes réduite */
    }
}

/* Styles de la navigation */
nav ul {
    background-color: #555555;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centre les éléments */
    /*width: 100%; /* Prend toute la largeur disponible */
    box-sizing: border-box; /* Gère les marges et padding */
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; /* Changement de couleur au survol */
}

/* Menu déroulant */
nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /*padding: 14px 16px; */
    text-decoration: none;
}

/* Navigation responsive */

/* Petits écrans (jusqu'à 768px) */
@media (max-width: 768px) {
    nav ul {
        justify-content: space-around; /* Répartit les éléments avec un espace égal */
    }

    nav ul li a {
        font-size: 16px; /* Taille du texte légèrement réduite */
					   
					 
						 
							  
    }
}

/* Très petits écrans (jusqu'à 480px) */
@media (max-width: 480px) {
    nav ul {
        justify-content: space-between; /* Gère l'espacement pour les très petits écrans */
    }

    nav ul li a {
        padding: 8px 5px; /* Espacement réduit */
        font-size: 12px; /* Réduction de la taille du texte */
					   
					 
						 
							  
    }
}

/* Styles du main */
main {
    padding: 1em;
}

/* Styles du footer */
footer {
    background: #555555; 
    color: white;
    text-align: center;
    padding: 0.2em;
    /*position : fixed;*/
    width: 100%;
    bottom: 0;
}

/* Conteneur avec marges centrées */
.margin-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px;
}

/* Icônes des réseaux sociaux */
.social-media-icons {
    text-align: center;
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 2em; /* Taille des icônes */
}

/* Couleurs spécifiques aux réseaux sociaux */
.social-icon.facebook {
    color: #2f4779;
}

.social-icon.instagram {
    color: #E1306C;
}

/* Hover effects pour les réseaux sociaux */
.social-icon.facebook:hover {
    color: #213153;
}

.social-icon.instagram:hover {
    color: #C13584;
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes */
}

.content-row > div {
    flex: 1;
    min-width: 200px; /* Largeur minimale pour chaque élément */
    margin-bottom: 10px;
}

/* Petits écrans (jusqu'à 768px) */
@media (max-width: 768px) {
    .content-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /*gap: 100px;*/
        flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes */
    }
}

/* Très petits écrans (jusqu'à 480px) */
@media (max-width: 480px) {
    .content-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
       /* gap: 100px;*/
        flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes */
    }
}

/* Bloc de texte */
.text-block {
    max-width: 1000px;
    padding: 0;
    background-color: #FAFAFA;
    border-radius: 8px;
}

/* Ajustement de la navigation pour les petits écrans */
@media (max-width: 768px) {
        /* Positionnement du menu hamburger dans la barre de navigation */
    .nav-toggle {
        display: block;
        position: absolute;
        top: 1px;
        left: 15px; /* Positionne l'icône à gauche */
        cursor: pointer;
        z-index: 1000; /* S'assure que le bouton est au-dessus du contenu */
    }

    /* Icône hamburger en blanc */
    .nav-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white; /* Icône en blanc */
    }

    /* Positionnement de la navigation en pleine largeur */
    nav {
        display: flex;
        justify-content: center; /* Centre les éléments de navigation */
        align-items: center;
        position: relative;
        background-color: #555555;
        padding: 15px 0;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: none; /* Cache le menu par défaut sur mobile */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Positionne le menu en dessous de la barre de navigation */
        left: 0;
        width: 100%;
        background-color: #555555;
    }

    nav ul.active {
        display: flex; /* Affiche le menu quand l'icône est cliquée */
    }

    nav ul li a {
        display: block;
        color: white;
        text-align: left;
        text-decoration: none;
    } 
}


/* Ajustement de la navigation pour les petits écrans */
@media (max-width: 480px) {
        /* Positionnement du menu hamburger dans la barre de navigation */
    .nav-toggle {
        display: block;
        position: absolute;
        top: 1px;
        left: 15px; /* Positionne l'icône à gauche */
        cursor: pointer;
        z-index: 1000; /* S'assure que le bouton est au-dessus du contenu */
    }

    /* Icône hamburger en blanc */
    .nav-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white; /* Icône en blanc */
    }

    /* Positionnement de la navigation en pleine largeur */
    nav {
        display: flex;
        justify-content: center; /* Centre les éléments de navigation */
        align-items: center;
        position: relative;
        background-color: #555555;
        padding: 15px 0;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: none; /* Cache le menu par défaut sur mobile */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Positionne le menu en dessous de la barre de navigation */
        left: 0;
        width: 100%;
        background-color: #555555;
    }

    nav ul.active {
        display: flex; /* Affiche le menu quand l'icône est cliquée */
    }

    nav ul li a {
        display: block;
        color: white;
        text-align: left;
        text-decoration: none;
    } 

    .Izahay {
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        height: 100%; /* S'assure que l'élément parent a une hauteur suffisante */
    }
    
    .Izahay img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
}   

.Izahay {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%; /* S'assure que l'élément parent a une hauteur suffisante */
}

.Izahay img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/*.text-center {
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    /*background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px; 
} */

/*.banner {
    position: relative;
    width: 90%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  } */
  
/*  .graphics-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(45deg, #ff3366 25%, transparent 25%, transparent 50%, #ff3366 50%, #ff3366 75%, transparent 75%, transparent),
                linear-gradient(-45deg, #33ccff 25%, transparent 25%, transparent 50%, #33ccff 50%, #33ccff 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    opacity: 0.3;
  }
  
  /* Formes diagonales supplémentaires 
  .banner::before, .banner::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, #ffcc33, #ff3366, #33ccff, #33cc33);
    opacity: 0.4;
    z-index: 0;
  }
  
  .banner::before {
    top: -50%;
    left: -100%;
    transform: rotate(25deg);
  }
  
  .banner::after {
    bottom: -50%;
    right: -100%;
    transform: rotate(-25deg);
  } */