body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
} 

header {
    background-image: url('../img/interieur2.jpg'); /* Assurez-vous de fournir le bon chemin vers l'image */
    background-size: cover; /* Pour s'assurer que l'image couvre tout le header */
    background-position: center; /* Pour centrer l'image */
    color: white;
    padding: 5em 1em;
    text-align: center;
    position: relative;
} 

/* Media queries pour différentes tailles d'écran */
@media (max-width: 1200px) {
    header {
        padding: 3em 1em;
    }
    #parole-du-jour, #homelie  {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    header {
        padding: 2em 1em;
    }	
    header .image-container {
        top: 40%;
        left: 5%;
        transform: translateY(-50%);
    }	
    .content-row {
        flex-direction: column;
    }
    .map-container iframe {
        height: 200%;
    }	
}

@media (max-width: 480px) {
    .social-media-icons a {
        font-size: 1.5em;
    }
    .map-container iframe {
        height: 150px;
    }
    header h1 {
        font-size: 1.2em;
    }
    header .image-container {
        left: 10%;
        transform: translateY(-50%);
    }
    header .image-container img {
        max-width: 30px;
    }
}

/* Styles de la navigation */
nav ul {
    background-color: #555555;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    width: 100%;
    box-sizing: border-box;
}

nav ul li {
    margin: 0;
    padding: 0;
    float: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; 
}

/* Menu déroulant */
nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

/* Responsive pour nav */
@media (max-width: 768px) {
    nav ul {
        justify-content: space-around;
        overflow: visible;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    nav ul {
        justify-content: space-between;
    }

    nav ul li a {
        padding: 8px 5px;
        font-size: 12px;
    }
}

/* Styles supplémentaires */
main {
    padding: 1em;
}

footer {
    background: #555555; 
    color: white;
    text-align: center;
    padding: 0.2em;
    width: 100%;
    bottom: 0;
} 

header .image-container {
    position: absolute;
    left: 7%;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 100px;
    height: auto;
    border: 1px solid black;
} 

@media (max-width: 768px) {
    header .image-container {
        top: 78%;
        left: 5%;
    }
    header .image-container img {
        max-width: 47px;
    } 
}

@media (max-width: 480px) {
    header .image-container img {
        max-width: 40px;
    } 
}

/* Conteneur pour les marges */
.margin-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px;
}

/* Icônes des réseaux sociaux */
.social-media-icons {
    text-align: center;
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 2em;
} 

/* Couleurs spécifiques aux réseaux sociaux */
.social-icon.facebook {
    color: #2f4779;
}

.social-icon.instagram {
    color: #E1306C;
}

/* Hover effects pour les réseaux sociaux */
.social-icon.facebook:hover {
    color: #213153;
}

.social-icon.instagram:hover {
    color: #C13584;
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    flex-wrap: wrap;
}

.content-row > div {
    flex: 1;
    min-width: 200px;
    margin-bottom: 10px;
}

/* Style pour le bloc de texte */
.text-block {
    max-width: 1000px;
    padding: 0;
    background-color: #FAFAFA;
    border-radius: 8px;
}

/* Styles pour les sections Parole du jour et Homélie */
#parole-du-jour, #homelie-content, #homelie {
    background-color: #FAFAFA;
    border-radius: 8px;
    border: 2px solid #545454;
    margin-top: 20px;
    padding: 1em;
    font-size: 1rem;
}

#parole-du-jour h4, #parole-du-jour h5 {
    margin: 10px 0;
    font-size: 1.5em;
}

#parole-du-jour p {
    margin: 10px 0;
    font-size: 1.2em;
}
