body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
} 

header {
    background-image: url('../img/interieur2.jpg'); /* Assurez-vous de fournir le bon chemin vers l'image */
    background-size: cover; /* Pour s'assurer que l'image couvre tout le header */
    background-position: center; /* Pour centrer l'image */
    color: white;
    padding: 5em 1em;
    text-align: center;
    position: relative;
} 

/* Media queries pour différentes tailles d'écran */
@media (max-width: 1200px) {
    header {
        padding: 3em 1em; /* Ajuster la largeur pour les écrans moyens */
    }
    header .image-container img {
        max-width: 100px; /* Ajuster la taille de l'image */
    }
    #parole-du-jour, #homelie  {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 768px) {
	header {
        padding: 2em 1em; /* Ajuster la largeur pour les écrans moyens */
	}	
    header .image-container {
        top: 40%; /* Ajuster la position pour les écrans moyens */
        left: 5%;
        transform: translateY(-50%);
    }	
    header .image-container img {
        max-width: 25px; /* Ajuster la taille de l'image */
    }
    .content-row {
        flex-direction: column;
    }
    .map-container iframe {
        height: 200%;
    }	
}

/* Styles pour les petits écrans de téléphone */
@media (max-width: 480px) {
    .social-media-icons a {
        font-size: 1.5em;
    }
    .map-container iframe {
        height: 150px;
    }
    header h1 {
        font-size: 1.2em;
    }
    header .image-container {
        /*top: 40%; /* Ajuster la position pour les petits écrans */
        left: 10%;
        transform: translateY(-50%);
    }
    header .image-container img {
        max-width: 30px; /* Ajuster la taille de l'image */
    }
}

nav ul {
    background-color: #555555;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the nav items */
    width: 100%;
    box-sizing: border-box; /* Évite que les marges et padding dépassent */
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 20px;*/
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; 
}

/* Pour les petits écrans (moins de 768px) */
@media (max-width: 768px) {
    nav ul {
        justify-content: space-around; /* Distribue les éléments avec un espace égal */
        overflow: visible;
    }

    nav ul li a {
        padding: 10px 10px; /* Réduction de l'espacement pour plus de compacité */
        font-size: 16px; /* Taille du texte légèrement réduite */
    }
}

/* Pour les très petits écrans (moins de 480px) */
@media (max-width: 480px) {
    nav ul {
        justify-content: space-between; /* Gère l'espacement des éléments sur des petits écrans */
        overflow: visible;
    }

    nav ul li a {
        padding: 8px 5px; /* Espacement réduit pour les très petits écrans */
        font-size: 12px; /* Réduction supplémentaire de la taille du texte */
    }
}

main {
    padding: 1em;
}

footer {
    /*background: linear-gradient(#FAFAFA, #333); */
    background: #555555; 
    color: white;
    text-align: center;
    padding: 0.2em;
    /*position: fixed; */
    width: 100%;
    bottom: 0;
} 

header .image-container {
    position: absolute;
    /*top: 75%;*/
    left: 7%;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 100px; /* Adjust as necessary */
    height: auto;
    border: 1px solid black;
} 

.margin-container {
    width: 100%; /* Largeur du conteneur */
    margin: 0 auto; /* Marges automatiques à gauche et à droite */
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px; /* Espacement entre les liens */
}

.social-media-icons {
    text-align: center;
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white; /* Icon color */
    margin: 0 10px; /* Spacing between icons */
    font-size: 2em; /* Icon size */
} 

/* Couleurs spécifiques aux réseaux sociaux */
.social-icon.facebook {
    color: #2f4779; /* Facebook blue */
}

.social-icon.instagram {
    color: #E1306C; /* Instagram pink */
}

/* Hover effects */
.social-icon.facebook:hover {
    color: #213153; /* Darker Facebook blue */
}

.social-icon.instagram:hover {
    color: #C13584; /* Darker Instagram pink */
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start */
    gap: 100px; /* Space between items */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.content-row > div {
    flex: 1; /* Ensure items take equal space */
    min-width: 200px; /* Ensure a minimum width for each item */
    margin-bottom: 10px; /* Add bottom margin for spacing when items wrap */
}

/* Style for the text block */
.text-block {
    max-width: 1000px; /* Set a max-width for the text block */
    padding: 0px; /* Add some padding */
    background-color: #FAFAFA; /* Optional: Add a background color */
    border-radius: 8px; /* Optional: Add rounded corners */
}


/* Styles pour la section Parole du jour et Homélie */
#parole-du-jour, #homelie-content ,#homelie {
    background-color: #FAFAFA;
    border-radius: 8px;
    border: 2px solid #545454;
    margin-top: 20px;
    padding: 1em;
    font-size: 1rem;
}

#parole-du-jour h4, #parole-du-jour h5 {
    margin: 10px 0;
    font-size: 1.5em;
}

#parole-du-jour p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Styles pour le menu déroulant */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

