/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #A97142 25%, #D3A56A 75%); */
    background-size: cover;
}


header {
    background: linear-gradient(135deg, #A97142 25%, #D3A56A 75%);
    color: white;
    padding: 1em;
    text-align: center;
    position: relative;
}

nav ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the nav items */
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; 
}

main {
    padding: 1em;
}

footer {
    background: linear-gradient(white ,#FFD700);
    color: white;
    text-align: center;
    padding: 0.2em;
    /*position: fixed; */
    width: 100%;
    bottom: 0;
} 

header .image-container {
    position: absolute;
    top: 75%;
    left: 150px;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 100px; /* Adjust as necessary */
    height: auto;
}

.margin-container {
    width: 100%; /* Largeur du conteneur */
    margin: 0 auto; /* Marges automatiques à gauche et à droite */
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px; /* Espacement entre les liens */
}

.social-media-icons {
    text-align: center;
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white; /* Icon color */
    margin: 0 10px; /* Spacing between icons */
    font-size: 2em; /* Icon size */
} 

/* Couleurs spécifiques aux réseaux sociaux */
.social-icon.facebook {
    color: #3b5998; /* Facebook blue */
}

.social-icon.instagram {
    color: #E1306C; /* Instagram pink */
}

/* Hover effects */
.social-icon.facebook:hover {
    color: #2d4373; /* Darker Facebook blue */
}

.social-icon.instagram:hover {
    color: #C13584; /* Darker Instagram pink */
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start */
    gap: 100px; /* Space between items */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.content-row > div {
    flex: 1; /* Ensure items take equal space */
    min-width: 200px; /* Ensure a minimum width for each item */
    margin-bottom: 10px; /* Add bottom margin for spacing when items wrap */
}

/* Style for the text block */
.text-block, .text-block2 {
    max-width: 1000px; /* Set a max-width for the text block */
    padding: 0px; /* Add some padding */
    background-color: white; /* Optional: Add a background color */
    border: 1px solid white; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Add rounded corners */
}

/* Media queries pour différentes tailles d'écran */
@media (max-width: 768px) {
    header {
        padding: 0.5em;
    }

    .header .image-container img {
        width: 10px; /* Ajuster la largeur pour les écrans moyens */
        align-items : left;
    }
    .content-row {
        flex-direction: column;
    }

    .map-container iframe {
        height: 200px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    .header .image-container img {
        width: 10px; /* Ajuster la largeur pour les petits écrans */
        align-items : left;
    }

    .social-media-icons a {
        font-size: 1.5em;
    }

    .map-container iframe {
        height: 150px;
    }
}

/* Styles pour la section Parole du jour */
#parole-du-jour {
    background-color: #fff;
    /*padding: 1px;*/
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    margin-top: 20px;
}

#parole-du-jour h4, #parole-du-jour h5 {
    margin: 10px 0;
}

#parole-du-jour p {
    margin: 10px 0;
}