/* Reset some styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles pour le header */
header {
    background-image: url('../img/interieur2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5em 1em;
    text-align: center;
    position: relative;
}

header .image-container {
    position: absolute;
    left: 7%;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 100px;
    height: auto;
    border: 1px solid black;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #555555;
    padding: 15px 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*justify-content: center;*/
}

nav ul li {
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul li:hover .dropdown-content {
    display: block;
}

/* Menu hamburger pour petits écrans */
.nav-toggle {
    display: none;
    position: absolute;
    top: 1px;
    left: 15px;
    cursor: pointer;
    z-index: 1000;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

/* Main content */
main {
    padding: 1em;
}

/* Footer */
footer {
    background-color: #555555;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
}

/* Container with centered margins */
.margin-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px;
}

/* Social media icons */
.social-media-icons {
    text-align: center;
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 2em;
}

.social-icon.facebook {
    color: #2f4779;
}

.social-icon.instagram {
    color: #E1306C;
}

.social-icon.facebook:hover {
    color: #213153;
}

.social-icon.instagram:hover {
    color: #C13584;
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.content-row > div {
    flex: 1;
    min-width: 200px;
    margin-bottom: 10px;
}

/* Text blocks */
.text-block, .text-block2 {
    max-width: 500px;
    padding: 0;
    background-color: white;
    border-radius: 8px;
}

.text-block2 {
    border: 1px solid #D3A56A;
    font-size: 1rem;
}

/* Thumbnail images */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.thumbnail-figure {
    flex: 1 1 100px;
    max-width: 100px;
    text-align: center;
    margin: 10px;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Media queries */
@media (max-width: 1200px) {
    header {
        padding: 3em 1em;
    }

    header .image-container img {
        max-width: 100px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 0.5em;
    }

    header .image-container {
        top: 70%;
        left: 10%;
        transform: translateY(-50%);
    }

    header .image-container img {
        max-width: 60px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #555555;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li a {
        text-align: left;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    .social-media-icons a {
        font-size: 1.5em;
    }

    header .image-container {
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }

    header .image-container img {
        max-width: 40px;
    }

    .thumbnail-container {
        grid-template-columns: 1fr;
    }

    nav ul li a {
        padding: 8px 5px;
        font-size: 12px;
    }
}
