/* Reset some styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles du header */
header {
    background-image: url('../img/interieur2.jpg'); /* Assurez-vous de fournir le bon chemin vers l'image */
    background-size: cover; /* Pour s'assurer que l'image couvre tout le header */
    background-position: center; /* Pour centrer l'image */
    color: white;
    padding: 5em 1em;
    text-align: center;
    position: relative;
}

header .image-container {
    position: absolute;
    left: 7%;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 100px;
    height: auto;
    border: 1px solid black;
}


/* Media queries pour différentes tailles d'écran */

/* Écrans moyens (jusqu'à 1200px) */
@media (max-width: 1200px) {
    header {
         padding: 3em 1em; /* Réduction du padding pour les écrans moyens */
    }
}
    
/* Écrans petits (jusqu'à 768px) */
@media (max-width: 768px) {
    header {
        padding: 1em 1em; /* Réduction supplémentaire du padding */
    }
    
    header .image-container {
        top: 75%; /* Positionnement de l'image pour les petits écrans */
        left: 5%;
        transform: translateY(-50%);
    }
    
    header .image-container img {
        max-width: 47px; /* Réduction de la taille de l'image */
    }
    
    .content-row {
        flex-direction: column; /* Les éléments se disposent en colonne sur petits écrans */
    }
    
    .map-container iframe {
        height: 200%; /* Ajustement de la taille de la carte */
    }
}
    
/* Écrans très petits (jusqu'à 480px) */
@media (max-width: 480px) {
    header {
        padding: 1em 1em; /* Réduction supplémentaire du padding */
    }
    
    header h1 {
        font-size: 1.2em; /* Taille plus petite du titre */
    }
    
    header .image-container {
        top: 75%;
        left: 9%; /* Réajustement de la position de l'image */
    }
    
    header .image-container img {
        max-width: 30px; /* Taille plus petite de l'image */
    }
    
    .map-container iframe {
        height: 150px; /* Ajustement de la hauteur de l'iframe */
    }
    
    .social-media-icons a {
        font-size: 1.5em; /* Taille des icônes réduite */
    }
}

/* Styles pour la navigation */ 
nav ul {
    background-color: #16567a;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centre les éléments */
    /*width: 100%; /* Prend toute la largeur disponible */
    box-sizing: border-box; /* Gère les marges et padding */
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; 
}

/* Menu déroulant */
nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown-content {						 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

nav ul li {	 
    float: left;			  
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /*padding: 14px 16px; */
    text-decoration: none;
}

/* Navigation responsive */

/* Petits écrans (jusqu'à 768px) */
@media (max-width: 768px) {
    nav ul {
        justify-content: space-around; /* Répartit les éléments avec un espace égal */
    }

    nav ul li a {
        font-size: 16px; /* Taille du texte légèrement réduite */
    }
}

/* Très petits écrans (jusqu'à 480px) */
@media (max-width: 480px) {
    nav ul {
        justify-content: space-between; /* Gère l'espacement pour les très petits écrans */
    }

    nav ul li a {
        padding: 8px 5px; /* Espacement réduit */
        font-size: 12px; /* Réduction de la taille du texte */
    }
}

/* Main content */
main {
    padding: 1em;
}

/* Style du Footer */
footer {
    background-color: #16567a;
    color: white;
    text-align: center;
    padding: 0.2em;
    width: 100%;
    bottom: 0;
}

/* Container with centered margins */
.margin-container {
    width: 100%; /* Largeur du conteneur */
    margin: 0 auto; /* Marges automatiques à gauche et à droite */
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px; /* Espacement entre les liens */
}

.social-media-icons {
   /* text-align: center; */
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white; /* Icon color */
    margin: 0 10px; /* Spacing between icons */
    font-size: 2em; /* Icon size */
} 

/* Couleurs spécifiques aux réseaux sociaux */
.social-icon.facebook {
    color: #0866ff; /* Facebook blue */
}

.social-icon.instagram {
    color: #E1306C; /* Instagram pink */
}

/* Hover effects */
.social-icon.facebook:hover {
    color: #213153; /* Darker Facebook blue */
}

.social-icon.instagram:hover {
    color: #C13584; /* Darker Instagram pink */
}

/* Media queries pour différentes tailles d'écran */
@media (max-width: 480px) {
#contact {
    position: static;
    width: 100px;
    right: 50px;
    margin: 0 1em;
    box-shadow: none;
    padding: 0;
}
        
form {
    padding: 1em;
    }
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start */
    gap: 10px; /* Space between items */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.content-row > div {
    flex: 1; /* Ensure items take equal space */
    min-width: 200px; /* Ensure a minimum width for each item */
    margin-bottom: 10px; /* Add bottom margin for spacing when items wrap */
}

/* Style for the text block */
.text-block {
    max-width: 500px; /* Set a max-width for the text block */
    padding: 0px; /* Add some padding */
    background-color: white; /* Optional: Add a background color */
    border: 1px solid white; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Add rounded corners */
}

text-block2 {
    max-width: 500px; /* Set a max-width for the text block */
    padding: 0px; /* Add some padding */
    background-color: white; /* Optional: Add a background color */
    border: 1px solid #e1e1da; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Add rounded corners */
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
}

form input, form textarea, form button {
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form input, form textarea {
    width: 100%;
}

form button {
    background: #333;
    color: white;
    cursor: pointer;
    border: none;
}

form button:hover {
    background: #555;
}

#contact {
    position: absolute;
    top: 400px; /* Ajustez selon vos besoins */
    right: 100px; /* Ajustez selon vos besoins */
    width: 500px; /* Ajustez selon vos besoins */
    background: #fff;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Styles pour le conteneur de l'image miniature */
.thumbnail-container {
    display: flex;
    /*justify-content: center; /* Centrer l'image horizontalement */
    align-items: center; /* Centrer l'image verticalement */
    margin: 20px; /* Ajouter de la marge autour du conteneur */
}

/* Styles pour l'image miniature ronde */
section#members {
    padding: 2em;
    text-align: center;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacement entre les figures */
}

.thumbnail-figure {
    flex: 1 1 100px; /* Flex-grow, flex-shrink, flex-basis */
    max-width: 100px; /* Taille maximale pour les grands écrans */
    text-align: center;
    margin: 10px;
}

.thumbnail {
    width: 100%; /* L'image occupe 100% de la largeur de son conteneur */
    height: auto; /* Conserve les proportions de l'image */
    border-radius: 50%; /* Donne une forme circulaire à l'image si nécessaire */
}

/* Styles pour petits écrans */
@media (max-width: 768px) {
    .thumbnail-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}

@media (max-width: 480px) {
    .thumbnail-container {
        grid-template-columns: 1fr; /* Une colonne sur les très petits écrans */
    }
}

/* Ajustement de la navigation pour les petits écrans */
@media (max-width: 768px) {
/* Positionnement du menu hamburger dans la barre de navigation */
    .nav-toggle {
        display: block;
        position: absolute;
        top: 1px;
        left: 15px; /* Positionne l'icône à gauche */
        cursor: pointer;
        z-index: 1000; /* S'assure que le bouton est au-dessus du contenu */
    }
    
/* Icône hamburger en blanc */
    .nav-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white; /* Icône en blanc */
    }
    
/* Positionnement de la navigation en pleine largeur */
    nav {
        display: flex;
        justify-content: center; /* Centre les éléments de navigation */
        align-items: center;
        position: relative;
        background-color: #16567a;
        padding: 15px 0;
    }
    
    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul {
        display: none; /* Cache le menu par défaut sur mobile */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Positionne le menu en dessous de la barre de navigation */
        left: 0;
        width: 100%;
        background-color: #16567a;
    }
    
    nav ul.active {
        display: flex; /* Affiche le menu quand l'icône est cliquée */
    }
    
    nav ul li a {
        display: block;
        color: white;
        text-align: left;
        text-decoration: none;
    } 
}
    
    
/* Ajustement de la navigation pour les petits écrans */
@media (max-width: 480px) {
    /* Positionnement du menu hamburger dans la barre de navigation */
    .nav-toggle {
        display: block;
        position: absolute;
        top: 1px;
        left: 15px; /* Positionne l'icône à gauche */
        cursor: pointer;
        z-index: 1000; /* S'assure que le bouton est au-dessus du contenu */
    }
    
    /* Icône hamburger en blanc */
    .nav-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white; /* Icône en blanc */
    }
    
    /* Positionnement de la navigation en pleine largeur */
    nav {
        display: flex;
        justify-content: center; /* Centre les éléments de navigation */
        align-items: center;
        position: relative;
        background-color: #16567a;
        padding: 15px 0;
    }
    
    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul {
        display: none; /* Cache le menu par défaut sur mobile */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Positionne le menu en dessous de la barre de navigation */
        left: 0;
        width: 100%;
        background-color: #16567a;
    }
    
    nav ul.active {
        display: flex; /* Affiche le menu quand l'icône est cliquée */                    
    }
    
    nav ul li a {
        display: block;
        color: white;
        text-align: left;
        text-decoration: none;
    } 

    .annonce img {
        width: 75%;
        height: 75%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
} 

.image-container {
    text-align: center; /* Center align the text and image within the container */
    max-width: 100px;
    height: auto;
    border: 1px solid black;
}

.Annonce img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

