body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../resources/img/eglise-st-etienne.jpg'); /* Chemin de votre image */
    background-size: cover; /* L'image couvre toute la zone */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
}

header {
    background-color: rgba(76, 175, 80, 0.8); /* Couleur de fond avec transparence */
    color: white;
    padding: 1em;
    text-align: center;
    position: relative;
}

main {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8); /* Optionnel : Ajouter un fond avec transparence pour le contenu principal */
}

footer {
    background-color: rgba(76, 175, 80, 0.8); /* Couleur de fond avec transparence */
    color: white;
    text-align: center;
    padding: 0.2em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Ajoutez des styles pour le conteneur d'images et le texte pour une meilleure lisibilité */
.image-container, .image-container2, .text-block, .text-block2 {
    background-color: rgba(255, 255, 255, 0.8); /* Optionnel : Ajouter un fond avec transparence pour une meilleure lisibilité */
    padding: 10px;
    border-radius: 8px; /* Optionnel : Ajouter des coins arrondis */
}

.content-row {
    display: flex;
    align-items: flex-start; /* Aligner les éléments au début verticalement */
    justify-content: space-between; /* Espacer les éléments horizontalement */
    gap: 20px; /* Espace entre les éléments */
    flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne suivante si l'espace est insuffisant */
}

.content-row > div {
    flex: 1;
    min-width: 300px; /* Assurer une largeur minimale pour les éléments */
}

.map-container iframe {
    width: 100%; /* Ajuster la largeur pour correspondre au conteneur parent */
    height: 300px; /* Ajuster la hauteur selon les besoins */
    border: 0; /* Enlever la bordure */
    border-radius: 8px; /* Ajouter des coins arrondis */
}
