body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
} 

header {
    background-image: url('../img/interieur2.jpg'); /* Assurez-vous de fournir le bon chemin vers l'image */
    background-size: cover; /* Pour s'assurer que l'image couvre tout le header */
    background-position: center; /* Pour centrer l'image */
    color: white;
    padding: 5em 1em;
    text-align: center;
    position: relative;
} 

nav ul {
    background-color: #555555;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the nav items */
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; 
}

main {
    padding: 1em;
    justify-content: center; /* Centrer horizontalement */
    flex-grow: 1;
    flex-direction: column;
}

footer {
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 0.2em;
   /* position: fixed; */
    width: 100%;
    bottom: 0;
}

header .image-container {
    position: absolute;
    top: 75%;
    left: 95px;
    transform: translateY(-50%);
}

header .image-container img {
    max-width: 100px; /* Adjust as necessary */
    height: auto;
    border: 1px solid black;
}

.margin-container {
    width: 100%; /* Largeur du conteneur */
    margin: 0 auto; /* Marges automatiques à gauche et à droite */
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
}

.margin-container a {
    display: inline-block;
    color: white;
    margin: 0 10px; /* Espacement entre les liens */
}

.social-media-icons {
    text-align: center;
    margin-top: 0;
}

.social-media-icons a {
    text-decoration: none;
    color: white; /* Icon color */
    margin: 0 10px; /* Spacing between icons */
    font-size: 2em; /* Icon size */
} 

/* Couleurs spécifiques aux réseaux sociaux */
.social-icon.facebook {
    color: #2f4779; /* Facebook blue */
}

.social-icon.instagram {
    color: #E1306C; /* Instagram pink */
}

/* Hover effects */
.social-icon.facebook:hover {
    color: #23355b; /* Darker Facebook blue */
}

.social-icon.instagram:hover {
    color: #C13584; /* Darker Instagram pink */
} 

.calendar-container {
    width: 300px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center; /* Centrer le texte */
}

.calendar-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    align-items: center;
    justify-content: center;
    max-width: 280px; /* Limiter la largeur totale du calendrier */
    margin: 0 auto; /* Centrer le calendrier horizontalement */
    padding: 10px; /* Ajouter du padding autour du calendrier */
    /*background-color: #f0f0f0; /* Couleur de fond optionnelle pour le calendrier */
    background-color: #FAFAFA;
    border-radius: 8px; /* Coins arrondis optionnels */
}

.day {
    width: 75px; /* Réduire la largeur des cases de jour */
    height: 75px; /* Réduire la hauteur des cases de jour */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    cursor: pointer;
    position: relative;
    border: 1px solid #ddd; /* Ajouter une bordure fine */
    border-radius: 4px; /* Coins arrondis pour les cases de jour */
    padding: 2px;
}

.day.event::after {
    content: "";
    position: absolute;
    bottom: 3px; /* Ajuster la position du point d'événement */
    right: 3px; /* Ajuster la position du point d'événement */
    width: 8px; /* Réduire la taille du point d'événement */
    height: 8px; /* Réduire la taille du point d'événement */
    background-color: red;
    border-radius: 50%;
}

.event-name {
    font-size: 0.8em;
    font-weight: bold;
    color: blue;
    margin-top: 10px;
    text-align: center;
}

.weekday {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    border: 1px solid #ddd; /* Ajouter une bordure fine */
}

.today {
    background-color: #ddd; /* Yellow background for today's date */
    color: black;
    border: 2px solid black; /* Slightly darker border */
}

/* Style for the text block */
.text-block {
    max-width: 1000px; /* Set a max-width for the text block */
    padding: 0px; /* Add some padding */
    background-color: #FAFAFA;
    border-radius: 8px; /* Optional: Add rounded corners */
}

/* Flexbox styles */
.content-row {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start */
    gap: 100px; /* Space between items */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.content-row > div {
    flex: 1; /* Ensure items take equal space */
    min-width: 200px; /* Ensure a minimum width for each item */
    margin-bottom: 10px; /* Add bottom margin for spacing when items wrap */
} 

.map-container {
    text-align: center; /* Center align the map */
    margin-top: 20px; /* Add some space above the map */
}

.map-container iframe {
    width: 100%; /* Ensure the map takes full width */
    height: 250px; /* Set the height of the map */
    border: 0; /* Remove border */
    border-radius: 8px; /* Add rounded corners */
}

/* Media queries pour différentes tailles d'écran */
@media (max-width: 1200px) {
    header {
        padding: 3em 1em; /* Ajuster la largeur pour les écrans moyens */
    }
    header .image-container img {
        max-width: 100px; /* Ajuster la taille de l'image */
    }
}

@media (max-width: 768px) {
    header {
        padding: 0.5em;
    }
    .content-row {
        flex-direction: column;
    }
    .map-container iframe {
        height: 200px;
    }
    header .image-container {
        top: 70%; /* Ajuster la position pour les écrans moyens */
        left: 10%;
        transform: translateY(-50%);
    }
    header .image-container img {
        max-width: 60px; /* Ajuster la taille de l'image */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }
    .social-media-icons a {
        font-size: 1.5em;
    }
    .map-container iframe {
        height: 150px;
    }
    header .image-container {
        top: 50%; /* Ajuster la position pour les petits écrans */
        left: 5%;
        transform: translateY(-50%);
    }  
    header .image-container img {
        max-width: 40px; /* Ajuster la taille de l'image */
    }
}

/* Styles pour le menu déroulant */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

.events-container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.event2 {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event2:hover {
    transform: translateX(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-date2 {
    color: #8b8b8b;
    font-size: 14px;
}

.event-title2 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.event-location2 {
    color: #555;
    font-size: 16px;
}