body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*display: flex; */
    flex-direction: column;
    /*min-height: 100vh; */
}

main {
    padding: 1em;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    /*align-items: center; /* Centrer verticalement */
    flex-grow: 1;
    flex-direction: column;
}

.calendar-container {
    width: 300px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center; /* Centrer le texte */
}

.calendar-container {
    width: 300px;
    margin-bottom: 20px;
    align-items: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    /*align-items: center; */
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
}

.day.event::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}